<div class="container">
  <button id="add-button" mat-fab (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="header">
    <h2>Books list</h2>
    <form>
      <mat-form-field>
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [formControl]="searchControl" />
        @if (searchControl.value?.length) {
        <button aria-label="Clear" matSuffix mat-icon-button (click)="resetSearch($event)">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </form>
  </div>

  <app-books-list (booksUpdated)="resetSearch()"></app-books-list>
</div>
